---
import BaseLayout from '../layouts/BaseLayout.astro'
import { SocialLinks } from '../consts'
import { Icon } from 'astro-icon/components'
import BlogCard from '../components/BlogCard.astro'
import { getCollection } from 'astro:content'
import { SITE_BASE } from '@/consts'

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 4)
---

<BaseLayout>
	<main
		class="app-container flex flex-col gap-12 justify-center py-36 md:py-48 pt-44 md:pt-56 relative"
	>
		<div>
			<p class="block text-3xl opacity-70 mt-9 mb-4">Bienvenido al</p>
			<h1 class="text-8xl font-bold leading-none">Blog Educativo Pucará</h1>
		</div>
		<p class="text-2xl max-w-2xl font-light leading-normal">
			En el blog de Veterinaria Pucará encontrarás articulos con consejos de
			cuidado, prevención y bienestar para tu mascota además de noticias del
			mundo veterinario y curiosidades que te ayudarán a conocerla mejor.
		</p>
		<div class="flex flex-wrap gap-8">
			{
				SocialLinks.map((link) => (
					<a
						class="text-xl text-primary dark:text-primary-dark underline hover:underline underline-offset-4"
						href={link.url}
						target="_blank"
					>
						{link.name}
					</a>
				))
			}
		</div>
	</main>

	<!-- Recent Posts Section -->
	<section class="app-container">
		<h2 class="section-title">Post Recientes</h2>
		<div class="posts-grid-container">
			{posts.map((post) => <BlogCard post={post} />)}
		</div>
		<a class="btn-secondary" href={`${SITE_BASE}/blog`}
			>Leer más posts
			<Icon size={20} name="mdi:arrow-right" />
		</a>
	</section>
</BaseLayout>
