---
import { SITE_BASE } from '@/consts'
import FormattedDate from './FormattedDate.astro'
const { post } = Astro.props

const date = new Date(post.publishedAt)
import type { ImageMetadata } from 'astro'

---

<a
	href={`/blog/${post.slug}`}
	class="flex flex-col gap-4 pb-8 h-full group transition-colors"
>
	<img
		src={post.heroImage.thumbnailURL || post.heroImage.url}
		alt={post.title}
		class="object-cover rounded-xl aspect-video"
  	/>

	<h4 class="text-2xl font-semibold group-hover:text-primary">
		{post.title}
	</h4>

	<p class="line-clamp-3 opacity-80">
		{post.meta?.description}
	</p>

	<p class="uppercase text-sm mt-auto tracking-tight">
		{post.publishedAt && (
			<FormattedDate date={new Date(post.publishedAt)} />
		)}
	</p>
</a>