---
import NavbarLink from './NavbarLink.astro'
import { Icon } from 'astro-icon/components'
import { SITE_BASE } from '../consts'
import LogoSVG from '../assets/logo.svg'
---

<header class="fixed top-0 w-full z-40 bg-background dark:bg-background-dark">
	<nav class="">
		<div class="app-container flex justify-between items-center py-5">
			<a href=`${SITE_BASE}` aria-label="Home">
				<LogoSVG height={75} width={65} />
			</a>
			<button
				class="md:hidden cursor-pointer"
				id="nav-open-btn"
				aria-label="Open navigation menu"
				title="Open navigation menu"
			>
				<Icon aria-hidden name="mdi:menu" size={32} />
			</button>

			<!-- Mobile nav -->
			<div
				class="translate-x-full md:hidden fixed top-0 right-0 bg-background dark:bg-background-dark h-screen w-5/6 px-8 py-6 transition-transform z-40 border-l-[1px] border-background"
				id="mobile-menu"
			>
				<button
					id="nav-close-btn"
					class="ml-auto block cursor-pointer"
					aria-label="Close navigation menu"
					title="Close navigation menu"
				>
					<Icon aria-hidden name="mdi:close" size={32} />
				</button>
			</div>
		</div>
	</nav>

	<script>
		function toggleNav() {
			document
				.querySelector('#mobile-menu')
				?.classList.toggle('mobile-nav-open')
		}

		document
			.querySelector('#nav-open-btn')
			?.addEventListener('click', toggleNav)
		document
			.querySelector('#nav-close-btn')
			?.addEventListener('click', toggleNav)
	</script>
</header>
